<div id="content">

</div>
<script>
  var appImages = {
    magnifyingGlass: "<%= asset_path('local/magnifying-glass.png') %>",
    shoppingCart: "<%= asset_path('local/shopping-cart.png') %>",
    loadingGif: "<%= asset_path('local/365.GIF') %>",
    leftArrow: "<%= asset_path('local/left-arrow.png') %>",
    rightArrow: "<%= asset_path('local/right-arrow.png') %>",
    minusSign: "<%= asset_path('local/minus.png') %>",
    plusSign: "<%= asset_path('local/plus.png') %>"
  }
</script>
